<div class="page-header">
   <h1>Restaurants are cool, you should eat at them.</h1>
</div>

<div id="restaurants" class="restaurant">
  <%= render 'restaurants/list', restaurants: @restaurants %>
</div> 

<% if not signed_in? %>
  <%= link_to 'Sign up', new_user_registration_path %>
  <%= link_to 'Login', new_user_session_path %>
<% end %>