


<p>
	<strong>Name:</strong>
	<%= @restaurants.name %>
</p>

<p>
	<strong>Description:</strong>
	<%= @restaurants.content %>
</p>

<p>
	<strong>Address:</strong>
	<%= @restaurants.address %>
</p>




<%= link_to 'Back', restaurants_path %>